.idea
*.zip
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/sitemap.xml
/*.sql
!/main_db.sql
.bk

node_modules/

app/config/config.php
app/config/database.php
app/config/payment_gateways.php
app/config/hAuth.php
app/controllers/api/v1/Mics.php

app/logs
!app/logs/index.php

/assets/uploads/
!/assets/uploads/index.html

/assets/uploads/avatars/
!/assets/uploads/avatars/index.html

/assets/uploads/avatars/thumbs/
!/assets/uploads/avatars/thumbs/index.html

/assets/uploads/csv
!/assets/uploads/csv/index.html

/assets/uploads/logos/
!/assets/uploads/logos/index.html

/assets/uploads/thumbs/
!/assets/uploads/thumbs/index.html

/files/
!/files/index.html

/files/backups/
!/files/backups/index.html

/files/db_updates/
!/files/db_updates/index.html
!/files/db_updates/*.sql

/files/updates/
!/files/updates/.htaccess
!/files/updates/index.html

/vendor/mpdf/mpdf/tmp/

#SEO
sitemap.xml
sitemap_index.xml
robots.txt
.buildpath
.project
.settings/org.eclipse.wst.validation.prefs
